<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"metadata":{"name":"Page Wrapper"},"style":{"spacing":{"padding":{"right":"1rem","left":"1rem"}}},"layout":{"type":"constrained","wideSize":"62.5rem"}} -->
<div class="wp-block-group" style="padding-right:1rem;padding-left:1rem"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"96px"}}} -->
<h1 class="wp-block-heading has-text-align-center" style="font-size:96px">Meet our wonderful, dog-loving team!</h1>
<!-- /wp:heading -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link wp-element-button" href="http://paws-relax.local/services/">Book Now</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:query {"queryId":21,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"},"className":"team-query-loop"} -->
<div class="wp-block-query team-query-loop"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"1rem","right":"var:preset|spacing|40","bottom":"1rem","left":"var:preset|spacing|40"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:1rem;padding-right:var(--wp--preset--spacing--40);padding-bottom:1rem;padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-featured-image {"aspectRatio":"3/4","style":{"border":{"radius":"20px"}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:post-title {"style":{"typography":{"fontSize":"48px","lineHeight":"1.5"},"spacing":{"padding":{"right":"0px","left":"0px","top":"0","bottom":"0"},"margin":{"right":"0px","left":"0px"}}}} /-->

<!-- wp:acf/work-title-block {"name":"acf/work-title-block","data":{"title":"","_title":"field_67db16fcb9b61","name":"","_name":"field_67db1bb79f70a","bio":"","_bio":"field_67db1726b9b62","availability":"","_availability":"field_67db1786b9b63","email":"","_email":"field_67db1894b9b64","assigned_massage_therapist":"","_assigned_massage_therapist":"field_67dc6295d1f05"},"mode":"preview"} /--></div>
<!-- /wp:group -->

<!-- wp:post-terms {"term":"paws-specialty-types","prefix":"Specialties: ","style":{"typography":{"fontSize":"1rem"}}} /-->

<!-- wp:acf/more-info-block {"name":"acf/more-info-block","mode":"preview"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->